<div [ngStyle]="{'margin-top': mysetsService.activeSet || bandService.activeBand ? '0' : '70'}" class="main-container">

    <div *ngIf="lyricsLoading || trackLoading else showTrack" class="loading">
        <mat-spinner color="accent" diameter="100"></mat-spinner>
    </div>

    <ng-template #showTrack>
        <mat-card [ngClass]="mysetsService ? 'wide' : ''">
            <mat-card-actions align="start">
                <div *ngIf="user && !mysetsService.activeSet && !bandService.activeBand else inLibraryToolbar"
                     class="buttons">
                    <button (click)="onAddToSetSongClick()" color="accent" mat-raised-button>Add to your LyricSet
                        <mat-icon>add</mat-icon>
                    </button>
                    <button (click)="onAddToBandSongClick()" color="accent" mat-raised-button>Add to your Band
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <ng-template #inLibraryToolbar>
                    <mat-toolbar *ngIf="user && mysetsService.activeSet">
                        <div *ngIf="playMode">
                            <button
                                    [disabled]="mysetsService.isPreviousDisabled(track.track_id)"
                                    [queryParams]="{playMode: 1}"
                                    [routerLink]="['../', mysetsService.getPreviousTrackId(track.track_id)]"
                                    mat-flat-button>
                                <mat-icon>arrow_back</mat-icon>
                            </button>
                            <button
                                    [disabled]="mysetsService.isNextDisabled(track.track_id)"
                                    [queryParams]="{playMode: 1}"
                                    [routerLink]="['../', mysetsService.getNextTrackId(track.track_id)]"
                                    mat-flat-button>
                                <mat-icon>arrow_forward</mat-icon>
                            </button>
                        </div>
                        <div class="separator"></div>
                        <button
                                mat-flat-button
                                routerLink="../">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-toolbar>
                    <mat-toolbar *ngIf="user && bandService.activeBand">
                        <div *ngIf="playMode">
                            <button
                                    [disabled]="bandService.isPreviousDisabled(track.track_id)"
                                    [queryParams]="{playMode: 1}"
                                    [routerLink]="['../', bandService.getPreviousTrackId(track.track_id)]"
                                    mat-flat-button>
                                <mat-icon>arrow_back</mat-icon>
                            </button>
                            <button
                                    [disabled]="bandService.isNextDisabled(track.track_id)"
                                    [queryParams]="{playMode: 1}"
                                    [routerLink]="['../', bandService.getNextTrackId(track.track_id)]"
                                    mat-flat-button>
                                <mat-icon>arrow_forward</mat-icon>
                            </button>
                        </div>
                        <div class="separator"></div>
                        <button
                                mat-flat-button
                                routerLink="../">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-toolbar>
                </ng-template>
            </mat-card-actions>
            <mat-card-title class="text-highlight">
                {{track.track_name}}
            </mat-card-title>
            <mat-card-subtitle>
                {{track.artist_name}}
            </mat-card-subtitle>
            <mat-card-content>
        <span class="lyrics">
          {{lyrics.lyrics_body}}
        </span>
            </mat-card-content>
        </mat-card>
    </ng-template>

</div>

