<div class="main-container">

  <div class="loading" *ngIf="lyricsLoading || trackLoading else showTrack">
    <mat-spinner diameter="100" color="accent"></mat-spinner>
  </div>

  <ng-template #showTrack>
    <mat-card [ngClass]="mysetsService ? 'wide' : ''">
      <mat-card-actions align="start">
        <mat-toolbar *ngIf="user && !mysetsService.activeSet else inLibraryToolbar" >
          <button mat-raised-button (click)="onAddSongClick()" color="accent">Add to LyricSet <mat-icon>add</mat-icon></button>
        </mat-toolbar>
        <ng-template #inLibraryToolbar>
          <mat-toolbar>
            <div *ngIf="playMode">
              <button
                [disabled]="mysetsService.isPreviousDisabled(track.track_id)"
                [routerLink]="['../', mysetsService.getPreviousTrackId(track.track_id)]"
                [queryParams]="{playMode: 1}"
                mat-flat-button>
                <mat-icon>arrow_back</mat-icon>
              </button>
              <button
                [disabled]="mysetsService.isNextDisabled(track.track_id)"
                [routerLink]="['../', mysetsService.getNextTrackId(track.track_id)]"
                [queryParams]="{playMode: 1}"
                mat-flat-button>
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
            <div class="separator"></div>
            <button
              routerLink="../"
              mat-flat-button>
              <mat-icon>close</mat-icon>
            </button>
          </mat-toolbar>
        </ng-template>
      </mat-card-actions>
      <mat-card-title class="text-highlight">
        {{track.track_name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{track.artist_name}}
      </mat-card-subtitle>
      <mat-card-content>
        <span class="lyrics">
          {{lyrics.lyrics_body}}
        </span>
      </mat-card-content>
    </mat-card>
  </ng-template>

</div>

