<script src="band-tracklist-item.component.ts"></script>
<div [ngClass]="this.bandSerivce.isEditMode ? 'cursor-pointer hover' : ''" class="track mat-elevation-z3">
    <div class="avatar">
        <mat-icon>music_note</mat-icon>
    </div>
    <div class="track-header">
        <h3>{{track?.track_name}}</h3>
        <p>{{track?.artist_name}}</p>
    </div>
    <div class="separator">
    </div>
    <button
            *ngIf="!bandSerivce.isEditMode; else tmp"
            [queryParams]="{playMode : 0}"
            [routerLink]="[track?.track_id]"
            mat-icon-button>
        <mat-icon>remove_red_eye</mat-icon>
    </button>
    <ng-template #tmp>
        <button
                (click)=OnRemoveClick()
                color="warn"
                mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>
    </ng-template>
</div>
