<div class="header">Account</div>
<mat-divider></mat-divider>
<div class="split-container">
    <div class="splitted-left">
        <label>Password:</label>
        <button (click)="openPasswordDialog()" color="accent" mat-raised-button>Change Password</button>
        <label>Username:</label>
        <button (click)="openUsernameDialog()" color="accent" mat-raised-button>Change Username</button>
    </div>
    <mat-divider [vertical]="true" class="vertical"></mat-divider>
    <div class="splitted-right">
    </div>
</div>
