<div class="header">Account</div>
<mat-divider></mat-divider>
<div class="split-container">
  <div class="splitted-left">
    <label>Password:</label>
    <button mat-raised-button (click)="openDialog()" color="accent">Change Password</button>
    <mat-divider></mat-divider>
    <label>Username:</label>
    <button mat-raised-button (click)="openDialog()" color="accent">Change Username</button>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="splitted-right">

  </div>
</div>
