mat-card{
  display: flex;
  justify-content: space-between;
  height: 140px;
}
mat-card-title-group{
  display:flex;
  flex-direction: column;
}
mat-form-field{
  margin: 0;
}
.edit-container{
  display: flex;
  flex-direction: column;
}
textarea{
  resize: none;
}
.img-container{
  display: flex;
  flex-direction: column;
}

.img-buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img{
  border-radius:5%;
}
input{
  border: none;
  font-size: 24px;
  margin: 0;
  padding: 0;
}
textarea{
  border: none;
  margin: 0;
  padding: 0;
}
