<div class="cont track mat-elevation-z3" [ngClass]="this.mysetsService.isEditMode ? 'cursor-pointer hover' : ''">
  <div class="avatar">
    <mat-icon>music_note</mat-icon>
  </div>
  <div class="track-header" >
    <h3>{{track.track_name}}</h3>
    <p>{{track.artist_name}}</p>
  </div>
  <div class="separator">
  </div>
  <button
    *ngIf="!mysetsService.isEditMode; else tmp"
    mat-icon-button
    [routerLink]="[track.track_id]"
    [queryParams]="{playMode : 0}">
    <mat-icon>remove_red_eye</mat-icon>
  </button>
  <ng-template #tmp>
    <button
      mat-icon-button
      (click) = OnRemoveClick()
      color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</div>
