<div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="chat-container">
    <div *ngFor="let mess of messages" [ngClass]="{'right' : user.id !== mess.userId}" class="msg">
        <img
                (error)="this.authService.onImgError($event)"
                *ngIf="user.id !== mess.userId"
                [src]="this.authService.getImageUrl(mess.avatarId)"
                alt="Avatar">
        <div [ngClass]="{'background-highlight' : user.id === mess.userId}" class="content mat-elevation-z3">
            <p class="name text-highlight">{{mess.displayname}}</p>
            <p>{{mess.content}}</p>
            <footer class="time-right">{{getDateFormat(mess.date)}}</footer>
        </div>
        <img
                (error)="this.authService.onImgError($event)"
                *ngIf="user.id === mess.userId"
                [src]="this.authService.getImageUrl(mess.avatarId)"
                alt="Avatar">
    </div>
</div>
<div class="form-container">
    <form (keydown)="keyDownFunction($event)" (ngSubmit)="onSendClick()" [formGroup]="messageForm"
          class="input-container">
        <textarea formControlName="messageInput" placeholder="Type your message..." rows="3"></textarea>
        <button color="accent" mat-icon-button type="submit">
            <mat-icon>send</mat-icon>
        </button>
    </form>
</div>



