<mat-toolbar color="primary" class="mat-elevation-z8">
  <a
    class="brand"
    [routerLink]="['home']">
    <mat-icon>
      queue_music
    </mat-icon>
    LyricSet
  </a>
  <a
  *ngIf="isAuthenticated"
  [routerLink]="['library']"
  routerLinkActive="nav-button-active"
  class="nav-button">Library</a>
  <a
    *ngIf="isAuthenticated"
    [routerLink]="['bands']"
    routerLinkActive="nav-button-active"
    class="nav-button">Bands</a>
  <a
    [routerLink]="['popular']"
    routerLinkActive="nav-button-active"
    class="nav-button">Popular</a>
  <a
    [href]="'mailto:pok.koch@gmail.com'"
    routerLinkActive="nav-button-active"
    class="nav-button">Contact</a>
  <app-search-bar></app-search-bar>
  <a class="nav-button" mat-icon-button [matMenuTriggerFor]="appMenu"><mat-icon>account_box</mat-icon></a>
  <mat-menu #appMenu="matMenu">
    <ng-container *ngIf="isAuthenticated; else not">
      <button
      mat-menu-item [routerLink]="['settings']">Settings</button>
      <button
      mat-menu-item (click)="onLogout()">Logout</button>
    </ng-container>
    <ng-template #not>
      <button
      mat-menu-item [routerLink]="['login']">Log In</button>
      <button
      mat-menu-item [routerLink]="['register']">Register</button>
    </ng-template>
  </mat-menu>
</mat-toolbar>
