//Go into theme.scss
mat-option{
  font-size: 14px;
  height: 40px;
}

.is-loading{
  height: 50px;
  align-items: center;
  width: 100%;
}

.divid{
  height: 20px;
}

.divid:first-of-type{
  margin-top: 10px;
}
.search-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  max-width: 60%;
  margin-left: auto;
}
a{
  margin: 10px;
}
