<form [formGroup]="searchFrom">
    <input
      spellcheck="false"
      formControlName="searchInput"
      [matAutocomplete]="auto"
      class="search mat-body"
      type="search"
      placeholder="Search for songs..."
    >
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='onOptionSelect($event.option.id)'>

      <mat-option *ngIf="isLoading">
        <mat-spinner diameter="30" color="accent"></mat-spinner>
      </mat-option>
      <mat-option *ngIf="noResult && !isLoading" disabled>
        No results found.
      </mat-option>

      <mat-option disabled *ngIf="searchResult && searchResult?.byTitle.track_list.length>0">
        Searched by title ------------------
      </mat-option>
      <mat-option *ngFor="let element of searchResult?.byTitle.track_list"
                  [value]="element.track.track_name"
                  [id]="element.track.track_id"
                  [matTooltip]="element.track.artist_name + ' - ' + element.track.track_name">
        <mat-icon>music_note</mat-icon>
        {{element.track.artist_name + ' - ' + element.track.track_name}}
      </mat-option>

      <mat-option disabled *ngIf="searchResult && searchResult?.byArtist.track_list.length>0">
        Searched by artist ------------------
      </mat-option>
      <mat-option *ngFor="let element of searchResult?.byArtist.track_list"
                  [value]="element.track.track_name"
                  [id]="element.track.track_id"
                  [matTooltip]="element.track.artist_name + ' - ' + element.track.track_name">
        <mat-icon>music_note</mat-icon>
        {{element.track.artist_name + ' - ' + element.track.track_name}}
      </mat-option>
    </mat-autocomplete>
  <button mat-icon-button (click)="onSearchClick()"><mat-icon>search</mat-icon></button>
</form>
