//Go into theme.scss
mat-option{
  font-size: 14px;
  height: 40px;
}

.is-loading{
  height: 50px;
  align-items: center;
  width: 100%;
}

.divid{
  height: 20px;
}
.divid:first-of-type{
  margin-top: 10px;
}
