<div class="main-container">
    <mat-card>
        <mat-toolbar><h1>Personal Settings</h1></mat-toolbar>
        <mat-nav-list>
            <mat-list-item
                    [routerLinkActive]="['text-highlight']"
                    routerLink="profile">
                <mat-icon>assignment</mat-icon>
                Profile
            </mat-list-item>
            <mat-list-item
                    [routerLinkActive]="['text-highlight']"
                    routerLink="account">
                <mat-icon>account_box</mat-icon>
                Account
            </mat-list-item>
        </mat-nav-list>
    </mat-card>
    <mat-card class="right">
        <router-outlet></router-outlet>
    </mat-card>
</div>


