.loading{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.left{
  flex: 1;
  margin: 20px;
}
.right{
  margin: 20px;
}

img{
  width: 200px;
  height: 200px;
}

a{
  margin: 10px 0;
}


mat-card-content{
  display: flex;
  flex-direction: column;
}
