<div class="main-container">
    <div *ngIf="bandSerivce.isLoading else content" class="loading">
        <mat-spinner color="accent" diameter="100"></mat-spinner>
    </div>
    <ng-template #content>
        <mat-card>
            <p class="text-highlight">Your Bands</p>
            <p *ngIf="bandSerivce.bandlist?.length===0">You don't have any bands right now.</p>
            <mat-nav-list>
                <mat-list-item *ngFor="let band of bandSerivce.bandlist" [routerLink]="['../',band.id]">
                    <img (error)="setService.onImgError($event)" [src]="setService.getImageUrl(band.imageId)">
                    <p>{{band.name}}</p>
                    <div class="separator"></div>
                    <mat-icon *ngIf="bandSerivce.amILeader(band)" color="accent">grade</mat-icon>
                </mat-list-item>
            </mat-nav-list>
            <mat-card-actions>
                <button (click)="openDialog()" color="accent" mat-raised-button>
                    Create Band
                    <mat-icon>add</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>

    </ng-template>
</div>
