<div class="main-container">
    <div *ngIf="isLoading else searchResults" class="loading">
        <mat-spinner color="accent" diameter="100"></mat-spinner>
    </div>
    <ng-template #searchResults>
        <mat-tab-group animationDuration="0" color="accent">
            <mat-tab label="By title">
                <mat-action-list>
                    <mat-list-item *ngIf="this.noTitleResult"
                                   disabled>No results found...
                    </mat-list-item>
                    <mat-list-item *ngFor="let element of searchResult?.byTitle.track_list"
                                   [routerLink]="['/song', element.track.track_id]">
                        <mat-icon>music_note</mat-icon>
                        {{element.track.artist_name + ' - ' + element.track.track_name}}
                    </mat-list-item>
                </mat-action-list>
            </mat-tab>
            <mat-tab label="By Artist">
                <mat-action-list>
                    <mat-list-item *ngIf="this.noArtistResult" disabled>No results found...</mat-list-item>
                    <mat-list-item *ngFor="let element of searchResult?.byArtist.track_list"
                                   [routerLink]="['/song', element.track.track_id]">
                        <mat-icon>music_note</mat-icon>
                        {{element.track.artist_name + ' - ' + element.track.track_name}}
                    </mat-list-item>
                </mat-action-list>
            </mat-tab>
            <mat-tab label="Users">
                <mat-action-list>
                    <mat-list-item *ngIf="this.noUsersResult" disabled>No results found...</mat-list-item>
                    <mat-list-item *ngFor="let element of searchResult?.users"
                                   [routerLink]="['/user', element.id]">
                        <mat-icon>person</mat-icon>
                        {{element.displayname}}
                    </mat-list-item>
                </mat-action-list>
            </mat-tab>
        </mat-tab-group>
    </ng-template>

</div>

