<h1 mat-dialog-title>Change password!</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <input matInput placeholder="Old password">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput placeholder="New password">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput placeholder="Repeat new password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Save</button>
</div>
