<h1 mat-dialog-title>Change password!</h1>
<div mat-dialog-content>
    <form [formGroup]="passwordForm" id="psForm">
        <mat-form-field appearance="outline" color="accent">
            <input formControlName="password" matInput placeholder="Old password" type="password">
            <mat-error *ngIf="f.newpassword.errors?.required">Password is required!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <input formControlName="newpassword" matInput placeholder="New password" type="password">
            <mat-error *ngIf="f.newpassword.errors?.required">New password is required!</mat-error>
            <mat-error *ngIf="f.newpassword.errors?.specialsign && !f.password.errors?.required">Minimum 8 characters,
                at least one letter and one number:
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <input formControlName="reppassword" matInput placeholder="Repeat new password" type="password">
            <mat-error *ngIf="f.reppassword.errors?.matchOther">Passwords don't match!</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()" mat-button>No Thanks</button>
    <button [disabled]="!passwordForm.valid" [mat-dialog-close]='{password: f.password.value, newpassword: f.newpassword.value}' form="psForm"
            mat-button>Send
    </button>
</div>
