mat-drawer-content{
  justify-content: center;
  align-content: center;
  padding:10px 50px;
}
mat-drawer{
  height: 100%;
}
mat-drawer-container{
  height: 100%;
}

mat-toolbar{
  text-align: center;
  margin-bottom: 40px;
}

