<div *ngIf="bandService.activeBand">
    <button [disabled]="bandService.activeBand.tracklist.length===0"
            [queryParams]="{playMode: 1, currentIndex: 0}"
            [routerLink]="[bandService.activeBand.tracklist[0]?.track_id]"
            color="accent"
            mat-raised-button>
        <mat-icon>play_circle_outline</mat-icon>
    </button>
    <div *ngIf="bandService.isEditMode else fixedlist">
        <div (cdkDropListDropped)="drop($event)" cdkDropList class="example-list">
            <div *ngFor="let track of bandService.activeBand.tracklist" cdkDrag class="track-holder">
                <app-band-tracklist-item [track]="track"></app-band-tracklist-item>
            </div>
        </div>
    </div>
    <ng-template #fixedlist>
        <div class="example-list">
            <div *ngFor="let track of bandService.activeBand.tracklist" class="track-holder">
                <app-band-tracklist-item [track]="track"></app-band-tracklist-item>
            </div>
        </div>
    </ng-template>
</div>


