<div class="main-container">
  <mat-card>
    <mat-card-title>Log In</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput>
      </mat-form-field>
      <button type="submit" color="accent" mat-raised-button>Submit</button>
    </form>
    <a mat-raised-button [routerLink]="['/register']">Don't have an account? Sign up here!</a>
  </mat-card>
  <div *ngIf="isLoading" class="lds-facebook"><div></div><div></div><div></div></div>
</div>
