html, body { height: 100%; }
body {margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-container{
  height: 100%;
  margin: 20px auto;
  max-width: 1200px;
  padding: 0;
}

.separator{
  flex: 1 1 auto;
}

.cursor-move{
  cursor: move;
}

.split-container{
  display: flex;
  flex-direction: row;
  margin:0;
  padding: 0;
}
