html, body { height: 100%; }
body {margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-container{
  height: 100%;
  margin: 20px 100px;
}

.separator{
  flex: 1 1 auto;
}

.cursor-move{
  cursor: move;
}
