<h1 mat-dialog-title>Pick a Band!</h1>
<div mat-dialog-content>

  <div class="loading-container" *ngIf="this.bandService.isLoading else bandsContainer">
    <mat-spinner diameter="50" color="accent">
    </mat-spinner>
  </div>

  <ng-template #bandsContainer>
    <mat-radio-group [(ngModel)]="selectedBand">
      <div *ngFor="let band of bandService.bandlist">
        <mat-radio-button *ngIf="bandService.amILeader(band)" [value]="band">
          <div class="radio-content">
            <p>{{band.name}}</p>
            <img matListAvatar
                 [src]="setService.getImageUrl(band.imageId)"
                 (error)="setService.onImgError($event)">

          </div>
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="onSendClick()" [disabled]="!selectedBand">Send
  </button>
</div>
